* {/* sets the base of all elements with a margin of 0 and padding of 0 */
    margin: 0;
    padding: 0;

  }
button:hover{ /* if any of the buttons get hovered, use the pointer cursor */
    cursor: pointer;
}

:root{
    --colour-primary: #47BFD7;
    --colour-secondary: #ACE2EC;
    --colour-darker: #022B3A;
    --colour-gray: #E2D6FF;
    --colour-darker-Gray: #B9B2BD;
    --colour-white: #FFFFFF;
    --colour-black: #000;
    --colour-green: #E0FFD6;
}

/* Defining the basics for each body and html document */
body, html {
    transition: all 0.4s ease-in-out;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: var(--colour-secondary);
    color: var(--colour-black);
    font-family: 'Anuphan', sans-serif;
    overflow-x: hidden;
}

hr{
    color: var(--colour-gray);
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

footer img{
    width: 40%;
    height: 40%;
}

footer{
    margin-top: 3rem;
}

.footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: rgba(149, 238, 228, 0.502, 0.5);
    position: relative;
    z-index: 1;
    margin-right: 1rem;
    margin-left: 1rem;
}
.footer-container .icon{
    margin: 1rem;
    text-align: center;
}

footer a{
    margin: 1rem;
    text-decoration: none;
    color: var(--colour-black);
}
footer a:hover{
    color: var(--colour-darker);
}
footer h3{
    margin: 1rem;
    margin-bottom: 2rem;
}


footer .pages .link{
    margin-top: 1rem;
}

footer .info .information p{
    margin-top: 1rem;
    margin: 1rem;
}

footer .social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background-color: var(--colour-green);
    margin: 1rem;
    cursor: pointer;
}

footer hr{
    margin-top: 0;
    margin-bottom: 0;
    margin: auto;
}

footer .copyright{
    text-align: center;
}



.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
  }
  
.background .circle {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    opacity: 0.7;

}
  
.background .circle:nth-child(1) {
    width: 100px;
    height: 100px;
    top: 50%;
    left: 10%;
    background-color: #e4b4a8;
}
  
.background .circle:nth-child(2) {
    width: 150px;
    height: 150px;
    top: 10%;
    left: 30%;
    background-color: #b4a8e4;
}
  
.background .circle:nth-child(3) {
    width: 75px;
    height: 75px;
    top: 70%;
    left: 70%;
    background-color: #7fec95;
}

/* Scroll Mouse on home page */
.mouse {
    width: 26px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid var(--colour-darker);
    background-color: var(--colour-gray);
    position: relative;
    overflow: hidden;
    position: relative;
    float: right;
    margin-top: 2rem;
}
.mouse .roll {
    position: absolute;
    top: 8px;
    left: 50%;
    width: 4px;
    margin-left: -2px;
    height: 4px;
    border-radius: 4px;
    background: var(--colour-darker);
    -webkit-animation: mouseScroll .8s cubic-bezier(.7,0,.3,1) infinite alternate;
    animation: mouseScroll .8s cubic-bezier(.7,0,.3,1) infinite alternate;
    z-index: 2;
}
.mouse .rollshadow {
    position: absolute;
    top: 8px;
    left: 50%;
    width: 4px;
    margin-left: -2px;
    height: 4px;
    background: var(--colour-darker);
    border-radius: 4px;
    -webkit-animation: mouseScroll .8s cubic-bezier(.7,0,.3,1) infinite alternate;
    animation: mouseScroll .8s cubic-bezier(.7,0,.3,1) infinite alternate;
        animation-delay: 0s;
    -webkit-animation-delay: 80ms;
    animation-delay: 80ms;
    z-index: 1;
}
@-webkit-keyframes mouseScroll {
 0% {
  -webkit-transform:translateY(0);
  transform:translateY(0)
 }
 100% {
  -webkit-transform:translateY(14px);
  transform:translateY(14px)
 }
}
@keyframes mouseScroll {
 0% {
  -webkit-transform:translateY(0);
  transform:translateY(0)
 }
 100% {
  -webkit-transform:translateY(14px);
  transform:translateY(14px)
 }
}


/* navbar */
.topnav {
    overflow: hidden;
    margin-right: 2rem;
    margin-top: 3rem;
}
  
.topnav a {
    float: right;
    display: block;
    color: var(--colour-black);
    border-radius: 15px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  

  
  .menu {
    list-style: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }
  
  .menu-link {
    color: var(--colour-darker-Gray);
    text-decoration: none;
    display: block;
    padding: 0.5rem 2rem 0 1.2rem; /* padding-bottom is space between text and underline */
    border: 0;
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.4;
    position: relative; /* used with absolute for positioning underline */
  }
  .menu-link:after {
    position: absolute;
    content: "";
    display: block;
    bottom: 0;
    left: 0;
    height: 3px;
    line-height: 1;
    width: 100%;
    background-color: var(--colour-darker-Gray);
    transform-origin: right bottom;
    transform: scaleX(0);
    transition: transform 0.4s linear;
  }
  .menu-link:hover:after,
  .menu-link:active:after {
    transform: scaleX(1);
    transform-origin: left bottom;
    transition: transform 0.4s linear;
  }
  
  
  
.topnav a.active {
    background-color: var(--colour-darker);
    color: var(--colour-white);
}
  
.topnav .icon {
    display: none;
    margin: 8px;
}
  
@media screen and (max-width: 600px) {
    .topnav a:not(.active) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav {
        overflow: hidden;
        margin: 1rem;
        margin-top: 3rem;
        z-index: 1;
    }
      
}



.introduction{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem;
    justify-items: center;
    height: 100vh;
}

  
.introduction .circle {
    position: relative;
    width: 100%;
    height: 100%;
    animation: float 4s infinite ease-in-out;
}
.introduction .circle img{
    margin-left: 2rem;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.introduction .title {
    height: 100%;
    width: 100%;
    text-align: right;
}
.introduction .title h1{
    margin-top: 2rem;
    font-size: 4rem;
}  
.introduction .title h3{
    margin-top: 1rem;
}

.who-we-are{
    height: fit-content;
    padding: 2rem;
    display: grid;
}
.who-we-are .text{
    text-align: center;
}
.who-we-are .section{
    height: fit-content;
}
.who-we-are .section .circle_intro{
    background-color: var(--colour-primary);
    padding: 2rem;
    height: 75vh;
    width: 75vh;
    float: right;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: float 4s infinite ease-in-out;
}
.who-we-are .circle_intro2{
    background-color: var(--colour-green);
    padding: 2rem;
    height: 75vh;
    width: 75vh;
    float: left;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: float 4s infinite ease-in-out;
}
.who-we-are p{
    margin: 1rem;
}


.why-us{
    margin-top: 5rem;
    margin: 1rem;
    height: fit-content;
    text-align: center;
}
.why-us .why-us-text{
    background: rgba(149, 238, 228, 0.502, 0.5);
    position: relative;
    z-index: 3;
    height: fit-content;
}

.why-us p{
    margin: 2rem;
    font-size: 1.5rem;
}

.count-up-section{
    position: relative;
    margin: auto;
    text-align: center;
    height: fit-content;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.count-up-section .counter-container{
    position: relative;
    background-color: var(--colour-primary);
    box-shadow: 45px -16px var(--colour-gray);
    border-radius: 50%;
    height: 35vh;
    width: 35vh;
    margin: 3rem;
    padding: 3rem;
    display: grid;
    align-items: center;
    animation: float 4s infinite ease-in-out;

}
.count-up-section .counter-container .counter{
    font-size: 3rem;
}

.signup-homepage{
    background: rgba(149, 238, 228, 0.502, 0.5);
    height: 80vh;
    width: 50vw;
    margin-top: 5rem;
    position: relative;
    margin: auto;
    text-align: center;
}
.signup-homepage p{
    font-size: 1.5rem;
}

.signup-homepage .signup-buttons button{
    padding: 1rem;
    margin: 2rem;
    width: 20%;
    border-radius: 15px;
    background-color: var(--colour-green);
    border-style:solid;
    border-color: var(--colour-darker);
    border-width: 2px;
}

.about-introduction{
    height: 110vh;
    margin: 3rem;
    overflow: hidden;
    position: relative;
    
}
.about-introduction .about-circle1{
    width: 40vw;
    height: 40vw;
    position: absolute;
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--colour-green);
    opacity: 0.7;
    display: grid;
    align-items: center;
    text-align: center;
    left: 15%;
}
.about-introduction .about-circle2{
    width: 35vw;
    height: 35vw;
    position: absolute;
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--colour-primary);
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    right: 20%;
    top: 25%;
}


/* styles for Meet the Team section in About us page */
.meet-team{/* Styles for the title of the Meet the Team section */
    margin-top: 0;
    text-align: center;
    position: relative;
    height: fit-content;
}
.meet-team h1{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 2em;
}
.meet-team hr{
    margin: 1rem;
}
.meet-team .executives{/* Styles for the formatting of all the executives of the Meet the Team section */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3rem;
}
.meet-team .executives .portfolio img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    position: relative;
}
.meet-team .executives .portfolio{
    margin: auto;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr;
}
.meet-team .executives .portfolio .title {
    text-align: center;
    overflow: auto;
}
/* Styles for the overlaying image when the user hovers over the image */
.meet-team .executives .portfolio .overlay{
    background: linear-gradient(0deg, rgb(11, 211, 214) 0%, rgb(255, 255, 255) 100%);
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;/* When user is not hovering over element, make it transparent */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.meet-team .executives .portfolio .overlay p{
    margin: 1rem;
}
.meet-team .executives .portfolio .overlay h1{
    margin: 1rem;
    position: relative;
    bottom: 0rem;
}
.meet-team .executives .portfolio .overlay:hover{/* When user hovers over element, make it appear */
    transition: 0.2s;
    opacity: 1;
}



.meet-team .meet-teachers{
    display: block;
    margin-top: 2rem;
    position: relative;
    height: fit-content;
    margin: 2rem;
}
.meet-teachers img{
    border-radius: 50%;
    height: 50vh;
    width: 50vh;
    margin-right: 1rem;
}

.meet-team .meet-teachers .teacher1{
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: left;
    margin-bottom: 2rem;
}
.meet-team .meet-teachers .teacher2{
    display: grid;
    grid-template-columns: 3fr 1fr;
    text-align: right;
    margin-bottom: 2rem;
}


.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    position: relative;
}

.contact .socials{
    background-color: var(--colour-green);
    border-radius: 15px;
    margin: 2rem;
}

.social-media-icons{
    background-color: var(--colour-secondary);
}

.circle-container {
    position: relative;
    width: 500px;
    height: 500px;
}

.circle-contact {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    font-size: 50px;
    color: var(--colour-darker);
    animation: float 4s infinite ease-in-out;
}

.facebook {
    top: 50px;
    left: 50px;
    background-color: #d4e2ff;
}

.twitter {
    top: 100px;
    left: 250px;
    background-color: #c1e7ff;
}

.instagram {
    top: 230px;
    left: 400px;
    background-color: #ffcddd;
}

.linkedin {
    top: 300px;
    left: 100px;
    background-color: #a1deff;
}

.youtube {
    top: 425px;
    left: 350px;
    background-color: #ffc1c1;
}
  


.contact .column-contactForm{
    margin: 2rem;
}

/* contact form */
input, select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid var(--colour-darker); /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: none /* Allow the user to vertically resize the textarea (not horizontally) */
}
/* Style the submit button with a specific background color etc */
.contact form button{
  background-color: var(--colour-secondary);
  width: 100%;
  color: var(--colour-darker);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* Add a background color and some padding around the form */
.container {
  border-radius: 15px;
  background-color: var(--colour-white);
  padding: 1rem;
  color: var(--colour-darker);
}
